<div id="projectsWrap" class="projects-wrap">
	{{#each works}}
		<div class="hexa-img" style="background-image: url({{ path }})" alt="{{ alt }}">
			<a href="{{ link }}" target="_blank" class="xs-show"></a>
			<div class="corner-1"></div>
			<div class="corner-2"></div>
			<div class="description">
				<h2 class="description__title">{{ title }}</h2>
				<p class="description__text">{{ description }}</p>
				<p class="description__text link"><a href="{{ link }}" target="_blank">{{ link }}</a></p>
				<p class="description__text skills">{{ tags }} </p>
			</div>
		</div>
	{{/each}}
</div>

